# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
#提交测试
# IntelliJ project files
.idea
*.iml
out
gen
/.idea/workspace.xml

socialSystem_rabbitmqtest/target/
tensquare_article/target/
tensquare_base/target/generated-sources/
tensquare_base/target/generated-test-sources/
tensquare_base/target/maven-archiver/
tensquare_base/target/maven-status/
tensquare_base/target/surefire-reports/
tensquare_base/target/tensquare_base-1.0-SNAPSHOT.jar
tensquare_common/target/generated-sources/
tensquare_common/target/generated-test-sources/
tensquare_common/target/maven-archiver/
tensquare_common/target/maven-status/
tensquare_common/target/tensquare_common-1.0-SNAPSHOT.jar
tensquare_config/target/generated-sources/
tensquare_eureka/target/generated-sources/
tensquare_eureka/target/maven-archiver/
tensquare_eureka/target/maven-status/
tensquare_eureka/target/tensquare_eureka-1.0-SNAPSHOT.jar
tensquare_friend/target/
tensquare_gathering/target/
tensquare_manage/target/generated-sources/
tensquare_manage/target/maven-archiver/
tensquare_manage/target/maven-status/
tensquare_manage/target/tensquare_manage-1.0-SNAPSHOT.jar
tensquare_qa/target/
tensquare_search/target/
tensquare_sms/target/
tensquare_spit/target/
tensquare_user/target/generated-sources/
tensquare_user/target/maven-archiver/
tensquare_user/target/maven-status/
tensquare_user/target/tensquare_user-1.0-SNAPSHOT.jar
tensquare_web/target/generated-sources/
tensquare_web/target/maven-archiver/
tensquare_web/target/maven-status/
tensquare_web/target/tensquare_web-1.0-SNAPSHOT.jar
tenth_recruit/target/
/.idea/modules.xml
/.idea/compiler.xml
